In [ ]:
pip install flask-sqlalchemy

In [10]:
import csv
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine,types

In [2]:
engine = sqlalchemy.create_engine('mysql://root:secret@localhost:3306/crypto_currencies') # enter your password and database names here

In [11]:
engine_ = sqlalchemy.create_engine('mysql://root:secret@localhost:3306')

# Bitcoin

In [12]:
df = pd.read_excel("C:/Users/luisg.guzman/Documents/Git_proyects/cryptocurrency_project/SQL/bases cryptocurrencies/Bitcoin.xlsx") # Replace Excel_file_name with your excel sheet name

In [13]:
df.dtypes

DATE_INFO     object
CLOSE        float64
OPENING      float64
MAX_VALUE    float64
MIN_VALUE    float64
VOL           object
VAR          float64
dtype: object

In [5]:
df.head()

    DATE_INFO   CLOSE  OPENING  MAX_VALUE  MIN_VALUE      VOL     VAR
0  2019-10-29  9343.8   9206.5     9531.3     9203.6  882.84K  0.0148
1  2019-10-28  9207.2   9530.1     9866.9     9202.5    1.04M -0.0338
2  2019-10-27  9529.6   9230.6     9773.2     9081.0    1.16M  0.0324
3  2019-10-26  9230.6   8658.4    10540.0     8061.8    1.78M  0.0661
4  2019-10-25  8658.3   7422.8     8697.7     7404.9    1.18M  0.1665

In [14]:
from datetime import datetime
df['DATE_INFO'] = df['DATE_INFO'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d'))

In [14]:
# Converting CLOSE, OPENING, MAX_VALUE, MIN_VALUE, VAR
df['CLOSE'] = df['CLOSE'].apply(lambda x: float(x))
df['OPENING'] = pd.to_numeric(df['OPENING'], errors='coerce')
df['MAX_VALUE'] = pd.to_numeric(df['MAX_VALUE'], errors='coerce')
df['MIN_VALUE'] = pd.to_numeric(df['MIN_VALUE'], errors='coerce')
df['VAR'] = pd.to_numeric(df['VAR'], errors='coerce')

In [7]:
df.dtypes

DATE_INFO    datetime64[ns]
CLOSE               float64
OPENING             float64
MAX_VALUE           float64
MIN_VALUE           float64
VOL                  object
VAR                 float64
dtype: object

In [8]:
df.head()

   DATE_INFO   CLOSE  OPENING  MAX_VALUE  MIN_VALUE      VOL     VAR
0 2019-10-29  9343.8   9206.5     9531.3     9203.6  882.84K  0.0148
1 2019-10-28  9207.2   9530.1     9866.9     9202.5    1.04M -0.0338
2 2019-10-27  9529.6   9230.6     9773.2     9081.0    1.16M  0.0324
3 2019-10-26  9230.6   8658.4    10540.0     8061.8    1.78M  0.0661
4 2019-10-25  8658.3   7422.8     8697.7     7404.9    1.18M  0.1665

In [15]:
conn = engine_.connect()

In [16]:
conn.execute("commit")

In [17]:
conn.execute("create database crypto")

In [18]:
conn.close()

In [30]:
engine = sqlalchemy.create_engine('mysql://root:secret@localhost:3306/crypto')

In [21]:
df.to_sql('BITCOIN',con=engine_,index=False,if_exists='append')

# Etherum

In [24]:
df = pd.read_excel("C:/Users/luisg.guzman/Documents/Git_proyects/cryptocurrency_project/SQL/bases cryptocurrencies/ETHERUM.xlsx") # Replace Excel_file_name with your excel sheet name

In [25]:
df.dtypes

DATE_INFO     object
CLOSE        float64
OPENING      float64
MAX_VALUE    float64
MIN_VALUE    float64
VOL           object
VAR          float64
dtype: object

In [41]:
df.head()

    DATE_INFO   CLOSE  OPENING  MAX_VALUE  MIN_VALUE     VOL     VAR
0  2019-10-29  189.92   181.67     192.18     181.67  13.76M  0.0454
1  2019-10-28  181.67   184.06     188.91     180.70  12.75M -0.0129
2  2019-10-27  184.05   179.61     188.33     176.47  14.54M  0.0246
3  2019-10-26  179.62   181.50     192.54     174.35  19.63M -0.0103
4  2019-10-25  181.49   160.73     186.24     160.41  16.19M  0.1292

In [26]:
from datetime import datetime
df['DATE_INFO'] = df['DATE_INFO'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d'))

In [ ]:
# Converting CLOSE, OPENING, MAX_VALUE, MIN_VALUE, VAR
df['CLOSE'] = df['CLOSE'].apply(lambda x: float(x))
df['OPENING'] = pd.to_numeric(df['OPENING'], errors='coerce')
df['MAX_VALUE'] = pd.to_numeric(df['MAX_VALUE'], errors='coerce')
df['MIN_VALUE'] = pd.to_numeric(df['MIN_VALUE'], errors='coerce')
df['VAR'] = pd.to_numeric(df['VAR'], errors='coerce')

In [28]:
df.dtypes

DATE_INFO    datetime64[ns]
CLOSE               float64
OPENING             float64
MAX_VALUE           float64
MIN_VALUE           float64
VOL                  object
VAR                 float64
dtype: object

In [29]:
df.head()

   DATE_INFO   CLOSE  OPENING  MAX_VALUE  MIN_VALUE     VOL     VAR
0 2019-10-29  189.92   181.67     192.18     181.67  13.76M  0.0454
1 2019-10-28  181.67   184.06     188.91     180.70  12.75M -0.0129
2 2019-10-27  184.05   179.61     188.33     176.47  14.54M  0.0246
3 2019-10-26  179.62   181.50     192.54     174.35  19.63M -0.0103
4 2019-10-25  181.49   160.73     186.24     160.41  16.19M  0.1292

In [31]:
df.to_sql('ETHERUM',con=engine,index=False,if_exists='append')

# Ripple

In [46]:
df = pd.read_excel("C:/Users/luisg.guzman/Documents/Git_proyects/cryptocurrency_project/dockerVolumes/mysql57/Ripple.xlsx") # Replace Excel_file_name with your excel sheet name

In [47]:
df.dtypes

DATE_INFO     object
CLOSE        float64
OPENING      float64
MAX_VALUE    float64
MIN_VALUE    float64
VOL           object
VAR          float64
dtype: object

In [48]:
df.head()

    DATE_INFO    CLOSE  OPENING  MAX_VALUE  MIN_VALUE    VOL     VAR
0  2019-10-29  0.30097  0.29444    0.30907    0.29437  2.21B  0.0221
1  2019-10-28  0.29447  0.29826    0.30443    0.29350  2.07B -0.0127
2  2019-10-27  0.29826  0.29374    0.30191    0.28954  2.27B  0.0154
3  2019-10-26  0.29375  0.29833    0.31200    0.28431  3.45B -0.0154
4  2019-10-25  0.29835  0.27602    0.30672    0.27471  2.66B  0.0809

In [49]:
from datetime import datetime
df['DATE_INFO'] = df['DATE_INFO'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d'))

In [ ]:
# Converting CLOSE, OPENING, MAX_VALUE, MIN_VALUE, VAR
df['CLOSE'] = df['CLOSE'].apply(lambda x: float(x))
df['OPENING'] = pd.to_numeric(df['OPENING'], errors='coerce')
df['MAX_VALUE'] = pd.to_numeric(df['MAX_VALUE'], errors='coerce')
df['MIN_VALUE'] = pd.to_numeric(df['MIN_VALUE'], errors='coerce')
df['VAR'] = pd.to_numeric(df['VAR'], errors='coerce')

In [50]:
df.dtypes

DATE_INFO    datetime64[ns]
CLOSE               float64
OPENING             float64
MAX_VALUE           float64
MIN_VALUE           float64
VOL                  object
VAR                 float64
dtype: object

In [51]:
df.head()

   DATE_INFO    CLOSE  OPENING  MAX_VALUE  MIN_VALUE    VOL     VAR
0 2019-10-29  0.30097  0.29444    0.30907    0.29437  2.21B  0.0221
1 2019-10-28  0.29447  0.29826    0.30443    0.29350  2.07B -0.0127
2 2019-10-27  0.29826  0.29374    0.30191    0.28954  2.27B  0.0154
3 2019-10-26  0.29375  0.29833    0.31200    0.28431  3.45B -0.0154
4 2019-10-25  0.29835  0.27602    0.30672    0.27471  2.66B  0.0809

In [52]:
df.to_sql('RIPPLE',con=engine,index=False,if_exists='append')

# Litecoin

In [53]:
df = pd.read_excel("C:/Users/luisg.guzman/Documents/Git_proyects/cryptocurrency_project/dockerVolumes/mysql57/Litecoin.xlsx") # Replace Excel_file_name with your excel sheet name

In [54]:
df.dtypes

DATE_INFO     object
CLOSE        float64
OPENING      float64
MAX_VALUE    float64
MIN_VALUE    float64
VOL           object
VAR          float64
dtype: object

In [55]:
df.head()

    DATE_INFO   CLOSE  OPENING  MAX_VALUE  MIN_VALUE     VOL     VAR
0  2019-10-29  59.579   57.818     60.629     57.777  13.76M  0.0304
1  2019-10-28  57.822   59.818     62.324     57.579  15.13M -0.0334
2  2019-10-27  59.821   56.751     62.446     55.720  16.10M  0.0541
3  2019-10-26  56.752   56.949     59.383     54.383  21.51M -0.0035
4  2019-10-25  56.950   49.615     58.463     49.123  15.99M  0.1478

In [56]:
from datetime import datetime
df['DATE_INFO'] = df['DATE_INFO'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d'))

In [ ]:
# Converting CLOSE, OPENING, MAX_VALUE, MIN_VALUE, VAR
df['CLOSE'] = df['CLOSE'].apply(lambda x: float(x))
df['OPENING'] = pd.to_numeric(df['OPENING'], errors='coerce')
df['MAX_VALUE'] = pd.to_numeric(df['MAX_VALUE'], errors='coerce')
df['MIN_VALUE'] = pd.to_numeric(df['MIN_VALUE'], errors='coerce')
df['VAR'] = pd.to_numeric(df['VAR'], errors='coerce')

In [57]:
df.dtypes

DATE_INFO    datetime64[ns]
CLOSE               float64
OPENING             float64
MAX_VALUE           float64
MIN_VALUE           float64
VOL                  object
VAR                 float64
dtype: object

In [58]:
df.head()

   DATE_INFO   CLOSE  OPENING  MAX_VALUE  MIN_VALUE     VOL     VAR
0 2019-10-29  59.579   57.818     60.629     57.777  13.76M  0.0304
1 2019-10-28  57.822   59.818     62.324     57.579  15.13M -0.0334
2 2019-10-27  59.821   56.751     62.446     55.720  16.10M  0.0541
3 2019-10-26  56.752   56.949     59.383     54.383  21.51M -0.0035
4 2019-10-25  56.950   49.615     58.463     49.123  15.99M  0.1478

In [59]:
df.to_sql('LITECOIN',con=engine,index=False,if_exists='append')

# IOTA

In [60]:
df = pd.read_excel("C:/Users/luisg.guzman/Documents/Git_proyects/cryptocurrency_project/dockerVolumes/mysql57/IOTA.xlsx") # Replace Excel_file_name with your excel sheet name

In [61]:
df.dtypes

DATE_INFO     object
CLOSE        float64
OPENING      float64
MAX_VALUE    float64
MIN_VALUE    float64
VOL           object
VAR          float64
dtype: object

In [62]:
df.head()

    DATE_INFO    CLOSE  OPENING  MAX_VALUE  MIN_VALUE    VOL     VAR
0  2019-10-29  0.28166  0.28648    0.29081    0.27800  4.16M -0.0168
1  2019-10-28  0.28648  0.27339    0.30051    0.27100  9.71M  0.0479
2  2019-10-27  0.27339  0.26935    0.27700    0.25901  3.89M  0.0150
3  2019-10-26  0.26935  0.27221    0.28300    0.26103  5.72M -0.0105
4  2019-10-25  0.27221  0.25473    0.27597    0.25331  3.52M  0.0686

In [63]:
from datetime import datetime
df['DATE_INFO'] = df['DATE_INFO'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d'))

In [ ]:
# Converting CLOSE, OPENING, MAX_VALUE, MIN_VALUE, VAR
df['CLOSE'] = df['CLOSE'].apply(lambda x: float(x))
df['OPENING'] = pd.to_numeric(df['OPENING'], errors='coerce')
df['MAX_VALUE'] = pd.to_numeric(df['MAX_VALUE'], errors='coerce')
df['MIN_VALUE'] = pd.to_numeric(df['MIN_VALUE'], errors='coerce')
df['VAR'] = pd.to_numeric(df['VAR'], errors='coerce')

In [64]:
df.dtypes

DATE_INFO    datetime64[ns]
CLOSE               float64
OPENING             float64
MAX_VALUE           float64
MIN_VALUE           float64
VOL                  object
VAR                 float64
dtype: object

In [65]:
df.head()

   DATE_INFO    CLOSE  OPENING  MAX_VALUE  MIN_VALUE    VOL     VAR
0 2019-10-29  0.28166  0.28648    0.29081    0.27800  4.16M -0.0168
1 2019-10-28  0.28648  0.27339    0.30051    0.27100  9.71M  0.0479
2 2019-10-27  0.27339  0.26935    0.27700    0.25901  3.89M  0.0150
3 2019-10-26  0.26935  0.27221    0.28300    0.26103  5.72M -0.0105
4 2019-10-25  0.27221  0.25473    0.27597    0.25331  3.52M  0.0686

In [66]:
df.to_sql('IOTA',con=engine,index=False,if_exists='append')

# Bitcoin cash

In [69]:
df = pd.read_excel("C:/Users/luisg.guzman/Documents/Git_proyects/cryptocurrency_project/dockerVolumes/mysql57/Bitcoin cash.xlsx") # Replace Excel_file_name with your excel sheet name

In [70]:
df.dtypes

DATE_INFO     object
CLOSE        float64
OPENING      float64
MAX_VALUE    float64
MIN_VALUE    float64
VOL           object
VAR          float64
dtype: object

In [71]:
df.head()

    DATE_INFO   CLOSE  OPENING  MAX_VALUE  MIN_VALUE      VOL     VAR
0  2019-10-29  285.43   264.27     297.00     264.04    6.67M  0.0801
1  2019-10-28  264.27   260.54     275.05     258.48    5.15M  0.0143
2  2019-10-27  260.53   252.72     267.92     245.32    5.19M  0.0305
3  2019-10-26  252.81   258.98     269.31     242.27    6.93M -0.0238
4  2019-10-25  258.98   212.36     269.73     212.06  150.57K  0.2195

In [72]:
from datetime import datetime
df['DATE_INFO'] = df['DATE_INFO'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d'))

In [ ]:
# Converting CLOSE, OPENING, MAX_VALUE, MIN_VALUE, VAR
df['CLOSE'] = df['CLOSE'].apply(lambda x: float(x))
df['OPENING'] = pd.to_numeric(df['OPENING'], errors='coerce')
df['MAX_VALUE'] = pd.to_numeric(df['MAX_VALUE'], errors='coerce')
df['MIN_VALUE'] = pd.to_numeric(df['MIN_VALUE'], errors='coerce')
df['VAR'] = pd.to_numeric(df['VAR'], errors='coerce')

In [73]:
df.dtypes

DATE_INFO    datetime64[ns]
CLOSE               float64
OPENING             float64
MAX_VALUE           float64
MIN_VALUE           float64
VOL                  object
VAR                 float64
dtype: object

In [74]:
df.head()

   DATE_INFO   CLOSE  OPENING  MAX_VALUE  MIN_VALUE      VOL     VAR
0 2019-10-29  285.43   264.27     297.00     264.04    6.67M  0.0801
1 2019-10-28  264.27   260.54     275.05     258.48    5.15M  0.0143
2 2019-10-27  260.53   252.72     267.92     245.32    5.19M  0.0305
3 2019-10-26  252.81   258.98     269.31     242.27    6.93M -0.0238
4 2019-10-25  258.98   212.36     269.73     212.06  150.57K  0.2195

In [75]:
df.to_sql('BITCOIN_CASH',con=engine,index=False,if_exists='append')